.contenedor-testimonio {
  width: 100%;
  max-width: 1170px;
  min-height: 368px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}
.imagen-testimonio {
  height: 368px;
  width: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.contenedor-texto-testimonio {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}
.nombre-testimonio {
  font-size: 1.3rem;
}
.cargo-testimonio {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
}
.texto-testimonio {
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .contenedor-testimonio {
    flex-direction: column;
    min-height: auto;
    margin: 10px 0 30px;
  }
  .imagen-testimonio {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .contenedor-texto-testimonio {
    padding: 20px;
    font-size: 16px;
  }
}