* {
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 18px;
  background-color: #efefef;
}

.h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;  
}

.contenedor-principal {
  min-height: 600px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 1.8em;
    margin: 24px 0;
    text-align: center;
  }
}